
importFrom("stats", "quantile", "weights", "xtabs")

export("BDR", "interval", "enum")

S3method("as.data.frame", "BDR")
S3method("as.data.frame", "BDRtotal")
S3method("BDR", "data.frame")
## S3method("BDR", "Surv")
## S3method("is.numeric", "Surv")
S3method("weights", "BDRtotal")
S3method("print", "interval")
S3method("levels", "interval")
S3method("nlevels", "interval")
S3method("interval", "numeric")
S3method("[", "interval")
S3method("format", "interval")
S3method("print", "enum")
S3method("levels", "enum")
S3method("nlevels", "enum")
S3method("enum", "logical")
S3method("enum", "factor")
S3method("enum", "integer")
S3method("enum", "numeric")
