
importFrom("stats", "quantile", "weights")

export("BDR")

S3method("as.data.frame", "BDR")
S3method("as.data.frame", "BDRtotal")
S3method("BDR", "data.frame")
S3method("BDR", "Surv")
S3method("is.numeric", "Surv")
S3method("weights", "BDRtotal")
